.page-content {
    margin: auto;
}

.file-name, .tag-name {
    line-height: 40px;
}

.file-name {
    margin-left: 1em;
}

.open-button, .delete-button {
    float: right;
}

.open-button {
    margin-right: 1em;
}

#toastContainer {
    margin-bottom: 2em;
    z-index: 7000;
}

.page-content {
    margin-top: 5em;
    min-width: 100%;
}

#searchColumn {
    margin-left: 10em;
    margin-right: 3em;
    margin-top: 3em;
}