.page-content {
    margin: auto;
}

.file-name, .tag-name {
    line-height: 40px;
}

.file-name {
    margin-left: 1em;
}

.open-button, .delete-button {
    float: right;
}

.open-button {
    margin-right: 1em;
}