body {
	overflow-x: hidden;
}

#CalandarAndTasks {
	margin-top: 2%;
}

#CalandarMonth {
	background-color: #2a3246;
	height: 200px;
}

#CalandarHeader {
	/* color: #e66b6b; */
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: larger;
	color: #2a3246;
}

#daysTable {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
}

#selectedDay {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 26pt;
	color: white;
	font-weight: 900;
}

#month {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 26pt;
	color: white;
	font-weight: 900;
}

#year {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 26pt;
	color: white;
	font-weight: 900;
}

#prev {
	margin-left: 10px;
}

#next {
	margin-right: 10px;
}

#prev, #next {
	font-size: 2rem;
	transition: transform .5s ease-in-out;
	color: white;
}

#prev:hover, #next:hover {
	color: red;
	transform: rotate(360deg);
}

#days {
	color: black;
	padding: 5px;
}

#days:hover {
	color: white;
	background-color: #2a3246;
  	border-radius: 50%;
}

#selectedDayTasks, #futureTasks {
	height: 175px;
	overflow-x: auto;
}

#modalCurrentTasks {
	overflow: auto;
}

#modalTasksHeader {
	color: #2a3246;
	font-size: large;
}

/* initially set these buttons to invisible */
#addTaskButton, #submitEditTaskButton, #deleteTaskButton {
	display: none;
}

#selectedDayTaskHeader {
	color: #2a3246;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

#futureTaskHeader {
	color: #2a3246;
	font-family: Georgia, 'Times New Roman', Times, serif;
}