body {
    background-color: #2a3246;
}

#welcomeText {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45pt;
    color: white;

}

.px400 {
    height: 400px;
}
