body {
	background: linear-gradient(to bottom, #e7e7e7 0%, #BABAC0 100%);
	overflow: hidden;	
}

.container {
	background-color: white;
	margin-top: 2em;
	overflow-y: scroll;
	width: 80%;
	height: 600px;
}

#notepad-textarea {
	background-color: white;
	white-space: pre-wrap;
}


