body {
	background-color: #E7E7E7;
	overflow: hidden;	
}

.container {
	background-color: white;
	margin-top: 2em;
	overflow-y: scroll;
	width: 80%;
	height: 600px;
}

#notepad-textarea {
	background-color: white;
	white-space: pre-wrap;
}


