.container {
	background-color: #E7E7E7;
	height: 550px;
	margin-top: 3em;
	position: relative;
}

/* used to see the outlines of the grid(from bootstrap).
 * comment this out when pushing */
/* .box {
	border: 1px solid black;
} */

#study-flashcard {
	width: 100%;
	height: 80%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#study-flashcard-btns {
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;

}

#study-flashcard-card {
	width: 18rem;
	height: 12rem;
	overflow-y: scroll;
}