.modal {
    display: block; /* Forces the pop-up to be open on page load. Remove when adding JS! */
}

.modal-title {
    margin: auto;
}

#dragAndDropLabel, #locateFileGroup, #addTagsGroup {
    text-align: center;
}

#locateFileLabel, #addedTagList {
    font-style: italic;
}

#locateFileLabel {
    line-height: 40px;
    padding-right: 5%;
}

#addTagInput {
    height: 35px;
}