/*
//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css
*/

* {
    box-sizing: border-box;
}
  
*:before {
    box-sizing: border-box;
}
  
  *:after {
    box-sizing: border-box;
  }


  
  const $min-width: 320px;
  $number-of-days: 7;
  $column-width: percentage(1/$number-of-days);
  
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }
  
  .row:before {
    display: table;
    content: " ";
  }
  
  .grid-calendar {
    min-width: $min-width;
    .row {
      /*
        override these from bootstrap
  
        margin-right: -15px;
        margin-left: -15px;
      */
      margin: 0;
      
    }
    
    .calendar-week .grid-cell {
      background-color: #f6f6f6;
      border: 1px solid #fff;
    }
  
    .calendar-week-header .grid-cell > div > div {
      padding-bottom: 10px;
      height: auto;
    }
    
    .grid-cell {
      display: inline-block;
      float: left;
      min-height: 1px;
      padding: 0;
      position: relative;
      width: $column-width;
  
      &.previous-month {
        color: #a6a6a6;
      }
      
      &.next-month {
        background-color: #e1e1e1;
      }
      
      > div {
        display: flex;
        justify-content: center;
        width: 100%;
  
        > div {
          height: 0;
          padding: 50% 0;
        }
      }
    }
  }